<!-- Created By Danzz Coding | https://danzzcodingweb.vercel.app -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sekai - APIs</title>
    <link rel="icon" href="logo.png" type="image/png" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/loading.css" />
  </head>
  <body>
    <div id="loading-screen">
        <div class="loading-spinner"></div>
      </div>
    <div class="scroll-up-btn">
      <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
      <div class="max-width">
        <div class="logo">
          <a href="/docs"
            ><img src="https://telegra.ph/file/8e7740a0f262be0979320.jpg"
          /></a>
        </div>
        <ul class="menu">
          <li><a href="/" class="menu-btn">Home</a></li>
          <li><a href="/docs" class="menu-btn">Docs</a></li>
          <li>
            <a href="/features" class="menu-btn">Features</a>
          </li>
          <li>
            <a href="/profiles"
              ><img src="https://telegra.ph/file/8e7740a0f262be0979320.jpg"
            /></a>
          </li>
        </ul>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>

    <!-- home section start -->
    <section class="home" id="home">
      <video autoplay muted loop id="background-video">
        <source src="../galery/background.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="max-width">
        <div class="home-content">
          <div class="text-1"><span>Sekai</span> - API Collection</div>
          <div class="text-2"><span class="typing"></span></div>
          <div class="text-3">
            kumpulan API yang menyediakan berbagai layanan yang
          </div>
          <div class="text-3">
            mungkin mencakup pengelolaan data, interaksi dengan layanan
          </div>
          <div class="text-3">pihak ketiga, otentikasi, dan banyak lagi</div>
          <a href="/docs">Documentation</a>
        </div>
      </div>
    </section>

    <footer class="anime-footer">
      <div class="Infobawah">
        <h2>Sekai Team</h2>
        <ul>
          <li>
            <a href="/contacts#RellXy">
              <img
                src="https://telegra.ph/file/8e7740a0f262be0979320.jpg"
                alt="RellXy"
              />
              <div class="member-info">
                <span>RellXy</span>
                <p>
                  Web Developer extraordinaire with a passion for anime and
                  manga.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="/contacts#YannZzz">
              <img
                src="https://telegra.ph/file/8e7740a0f262be0979320.jpg"
                alt="YannZzz"
              />
              <div class="member-info">
                <span>YannZzz</span>
                <p>
                  Graphic designer with a flair for the dramatic and a love for
                  anime.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="/contacts#DafffaJees">
              <img
                src="https://telegra.ph/file/8e7740a0f262be0979320.jpg"
                alt="DafffaJees"
              />
              <div class="member-info">
                <span>DafffaJees</span>
                <p>
                  Content creator with a passion for storytelling and a love for
                  anime.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="/contacts#JevvR">
              <img
                src="https://telegra.ph/file/8e7740a0f262be0979320.jpg"
                alt="JevvR"
              />
              <div class="member-info">
                <span>JevvR</span>
                <p>
                  Backend developer with a love for coding and a passion for
                  anime.
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="/js/index.js"></script>
    <script src="/js/loading.js"></script>
  </body>
</html>
