<!-- Created By Danzz Coding | https://danzzcodingweb.vercel.app -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sekai - APIs</title>
    <link rel="icon" href="logo.png" type="image/png" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="/css/pricing.css" />
    <link rel="stylesheet" href="/css/loading.css" />
  </head>
  <body>
    <div id="loading-screen">
        <div class="loading-spinner"></div>
      </div>
    <div class="scroll-up-btn">
      <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
      <div class="max-width">
        <div class="logo">
          <a href="/docs">Sekai ID</a>
        </div>
        <ul class="menu">
          <li><a href="/" class="menu-btn">Home</a></li>
          <li><a href="/docs" class="menu-btn">Docs</a></li>
          <li>
            <a href="/features" class="menu-btn">Features</a>
          </li>
          <li>
            <a href="/profiles"
              ><img src="https://telegra.ph/file/8e7740a0f262be0979320.jpg"
            /></a>
          </li>
        </ul>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>

    <!-- home section start -->
    <section style="padding: 50px 0;">
        <video autoplay muted loop id="background-video">
          <source src="../galery/background.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video></section>
    <header class="palakau">
        <h1>Pricing Plans</h1>
        <p>Choose the package according to your wishes so you can use the features in Rest API.</p>
    </header>
    <main class="mainmain">
        <div class="pricing-container">
            <div class="pricing-card">
                <h2>FREE</h2>
                <p class="price">IDR. 0,00</p>
                <ul>
                    <li>1000 Limit / 1 Month</li>
                    <li>Permanent</li>
                    <li><a>Access Custom Key</a></li>
                    <li><a>Premium Features</a></li>
                    <li><a>Mythical Features</a></li>
                </ul>
                <button class="plans">Already Owned</button>
            </div>
            <div class="pricing-card">
                <h2>CHEAP</h2>
                <p class="price">IDR. 3,000</p>
                <ul>
                    <li>3,000 Limit</li>
                    <li>30 Day Expired</li>
                    <li><a>Access Custom Key</a></li>
                    <li><a>Premium Features</a></li>
                    <li><a>Mythical Features</a></li>
                </ul>
                <button>Buy Now</button>
            </div>
            <div class="pricing-card">
                <h2>PREMIUM</h2>
                <p class="price">IDR. 6,000</p>
                <ul>
                    <li>6,000 Limit</li>
                    <li>60 Day Expired</li>
                    <li>Access Custom Key</li>
                    <li>Premium Features</li>
                    <li><a>Mythical Features</a></li>
                </ul>
                <button>Buy Now</button>
            </div>
            <div class="pricing-card">
                <h2>MYTHICAL</h2>
                <p class="price">IDR. 9.000</p>
                <ul>
                    <li>Unlimited Limit</li>
                    <li>90 Day Expired</li>
                    <li>Access Custom Key</li>
                    <li>Premium Features</li>
                    <li>Mythical Features</li>
                </ul>
                <button>Buy Now</button>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
    <script src="/js/loading.js"></script>
  </body>
</html>
